

div{
    display: inline-block;
}
 

.bl{
    text-align: center;
    margin-left: 40%;
    padding: 30px;
    background-color: blue;
    color: white;
    
   
}
img{
    text-align: center;
}
.bl--left{
    margin-left: 85%;
    padding: 30px;
    background-color: blue;
    text-align: center;
    color: white;
   


}
.bl--right{
    margin-right:85% ;
    padding: 30px;
    background-color: blue;
    text-align: center;
    color: white;
   
    
}
    


/* transparent-прозрачный  */